$color-light:rgb(242, 242, 242);
$color-light2:rgb(230, 230, 230);
$color-mid:rgb(210, 210, 210);
$color-black:rgb(12, 12, 12);

$color-greyText:#676767;

$navBarHeight: 115px;

$Z-Index-SideBar:900;
$Z-Index-BackDrop:800;
$Z-Index-NavBar:700;

body {
  box-sizing: border-box;
  font-family:'Arvo','Helvetica', 'Arial', sans-serif;
  color:$color-black;
  min-width: 360px;
}

.show {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.hide {
  display: none;
}

section {
  padding: 150px 0 80px 0;
}

h1 {
  font-size: 64px;
}

h3 {
  font-size: 36px;
}

a {
  color: inherit;
  text-decoration: none;
}

.card {
  border: none;
  border-radius: 2rem;
  box-shadow: 2px 2px 4px $color-mid;
  margin-bottom: 150px;
  padding: 80px;
}

header {
  color: #535353;
  height: auto;
  width: 100%;
  nav {
    width: 100vw;
    padding-top: 60px;
    font-size: 25px;
    background-color: white;
    z-index: $Z-Index-NavBar;
    border-bottom: 1px solid #D2D2D2;
    ul {
      margin: 0;
    }
    li {
      list-style-type: none;
    }
  }
  .navBarL {
    height: $navBarHeight;
    display: block;
    position: fixed;
    right: 0;
    top: 0;
    margin: 0;
    .navBarLCon {
      position: relative;
    }
    ul {
      position: absolute;
      right:0;
      display: flex;
    }
    li {
      margin-left: 50px;
    }
  }
  .navBarS {
    display: none;
    position: fixed;
    right: 0;
    top: 0;
    font-size: 25px;
    margin: 0;
    .navBarSConN{
      right:0;
      width: 100%;
      padding-bottom: 14px;
    }
    .navMenuIcon {
      display: flex;
      justify-content:flex-end;
    }
    li { 
      margin-top: 1rem;
    }
  }
}

.homeSection {
  height: 100vh;
  display: flex;
  align-items: center;
  .homeText {
    flex:1;
    padding-right: 1rem;
    h2 {
      font-size: 64px;
    }
    h1 {
      font-size: 96px;
      margin-bottom: 3rem;
    }
    p {
      font-size: 28px;
      margin-bottom: 3rem;
    }
    a {
      color:black;
      text-decoration: none;
    }
    button {
      font-size: 24px;
    }
  }
  .homeImg{
    flex:1;
    margin: 100px 0;
    img{
      width: 100%;
    }
  }
}

.experienceSection {
  h1 {
    margin-bottom: 50px;
  }
  .cardWrap {
    .cardYliftWrap{
      display: flex;
      .cardYlift {
        margin:auto;
        background-color: #E9DFDC;
        color:white;
        width: 460px;
        height: 460px;
        border-radius: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        p {
          font-size: 20px;
          padding: 30px 40px;
        }
        span {
          font-size: 20px;
          padding-left: 5px;
        }
      }
    }
    
    .cardInfo {
      h3 {
        padding-left:25px
      }
      p {
        font-size: 20px;
        padding-left:25px;
      }
      ul {
        font-size: 18px;
        color:$color-greyText;
      }
    }
  }
}

.projectsSection {
  .titleDescription {
    margin-bottom: 50px;
    color:$color-greyText;
    font-size: 20px;
  }
  p {
    font-size: 21px;
  }
}

.projectSection {
  .projectImg {
    display: flex;
    justify-content: center;
    img {
      width: 450px;
      height: 450px;
      object-fit: cover;
    }
  }
  .projectText{
    padding-left: 70px;
    p {
      margin:60px auto;
    }
    button {
      font-size: 21px;
    }
  }
}

.contactSection {
  .contactImg{
    display: flex;
    justify-content: center;
  }
  img{
    width: 500px;
    height: auto;
  }
  .contactInfo{
    padding-left: 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    div{
      font-size: 21px;
      margin-top:40px;
    }
  }
}

footer {
  height: 120px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: $color-black;
  color:$color-light;
  a, a:hover {
    color:inherit;
    text-decoration: none;
    font-size: 80%;
 }
}

@media screen and (max-width: 1300px) { //large screen
  .homeSection {
    .homeText {
      h2 {
        font-size: 48px;
      }
      h1 {
        font-size: 72px;
      }
      p {
        font-size: 21px;
      }
    }
  }
  .card {
    padding: 60px;
  }
  .experienceSection {
    .cardWrap {
      .cardYliftWrap{
        .cardYlift {
          width: 420px;
          height: 420px;
        }
      }
    }
  }
  .projectSection {
    .projectImg {
      img {
        width: 400px;
        height: 400px;
      }
    }
  }
}

@media screen and (max-width: 992px) { //mid screen
  header {
    .navBarL {
      display: none;
    }
    .navBarS {
      display: block;
    }   
  }
  .homeSection {
    height: auto;
    flex-direction: column-reverse;
  }

  .experienceSection {
    .cardWrap {
      .cardYliftWrap{
        .cardYlift {
          margin-bottom:100px;
        }
      }
    }
  }
  .projectSection {
    .projectText{
      padding-left: 20px;
    }
    .projectImg {
      margin-bottom:100px;
    }
  }
  .contactSection {
    .contactImg{
      margin-bottom: 100px;
    }
  }
}

@media screen and (max-width: 768px) { //small screen
  h1 {
    font-size: 52px;
  }
  h3 {
    font-size: 28px;
  }
  .card {
    padding: 60px 10px;
  }
  .experienceSection {
    .cardWrap {
      .cardYliftWrap{
        .cardYlift {
          width: 300px;
          height: 300px;
          p {
            font-size: 16px;
            padding: 10px;
          }
          span {
            font-size: 18px;
            padding-left: 5px;
          }
        }
      }
      .cardInfo {
        h3 {
          padding-left:25px
        }
        p {
          font-size: 20px;
        }
      }
    }
  }
  .projectSection {
    .projectImg {
      img {
        width: 300px;
        height: 300px;
      }
    }
  }
  .contactSection {
    img{
      width: 300px;
    }
  }
}